$calendarCellDimension: 30px;

.calendar-label {
    display: block;
    float:left;
    width: $calendarCellDimension;
    height: $calendarCellDimension;
    overflow: hidden;
}

.calendar-month {
    width: $calendarCellDimension * 7;
    height: $calendarCellDimension * 7;
    margin: 10px;
    display: inline-block;
    background-color: #fcfcfc;

    &--invisible {
        display: none;
    }

    &__header {
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        padding: 4px;
        background-color: #ccc;
    }
}

.calendar-day {
    display: block;
    float:left;
    width: $calendarCellDimension;
    height: $calendarCellDimension;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 10px;
    cursor: pointer;

    &--inactive {
        border: 1px solid #eee;
        background-color: #fff;
        color: #777;
        cursor: not-allowed;
    }
    &--invisible {
        opacity: 0;
    }

    &.invisible {
        border: 1px solid rgba(0,0,0,0);
        background-color: transparent;
        cursor: default;
    }
}