$calendarFontColor: #454556;
$calendarBackgroundColor: #dedede;
$calendarActiveColor: #f90;
$calendarInRangeColor: lighten($calendarActiveColor, 20%);

$calendarCellDimension: 30px;
$calendarDayBorder: 1px solid darken($calendarBackgroundColor, 20%);
$calendarDayBackgroundColor: darken($calendarBackgroundColor, 10%);


html, body {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.date-pickers-container {
    position: relative;
    border: 1px solid #ccc;

    .date-input-field-container {
        display: inline-block;
        width: 48%;

        .date-input {
            padding: 5px;
            text-align: center;

            &.current-date-input {
                background-color: #f90;
            }
        }
    }

    &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 20px;
        height: 20px;
        content: '>';
        margin-top: -10px;
        margin-left: -10px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;

    }
}

.datepicker-underlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.calendar-label {
    display: block;
    float:left;
    width: $calendarCellDimension;
    height: $calendarCellDimension;
    overflow: hidden;
}

.calendar-container {
    height: $calendarCellDimension * 9;
    overflow: hidden;
    position: absolute;
    background-color: $calendarBackgroundColor;

    .calendar-nav-btn {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 15px;

        &:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            font-size: 14px;
        }

        &.prev {
            left: 15px;

            &:after {
                content: '<';
            }
        }

        &.next {
            right: 15px;

            &:after {
                content: '>';
            }
        }
    }
}

.calendar-months-container {
    width: $calendarCellDimension * 7 * 20;
    height: $calendarCellDimension * 8;
}

.calendar-month {
    width: $calendarCellDimension * 7;
    height: $calendarCellDimension * 8;
    margin: 10px;
    display: inline-block;
    background-color: lighten($calendarBackgroundColor, 5%);

    &--invisible {
        display: none;
    }

    &__header {
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        padding: 4px;
        background-color: darken($calendarBackgroundColor, 40%);
    }

    &__days-header {
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
        background-color: darken($calendarBackgroundColor, 30%);
    }

    &__weekday {
        position: relative;
        display: block;
        float:left;
        width: $calendarCellDimension;
        height: $calendarCellDimension;
        overflow: hidden;
        font-size: 10px;
        text-align: center;
        line-height: $calendarCellDimension;
    }
}

.calendar-day {
    position: relative;
    display: block;
    float:left;
    width: $calendarCellDimension;
    height: $calendarCellDimension;
    overflow: hidden;
    

    &__active-day {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        border: $calendarDayBorder;
        background-color: $calendarDayBackgroundColor;
        font-size: 10px;
        cursor: pointer;
        outline: none;

        &.day-selected {
            background-color: $calendarActiveColor;
            border: 1px solid darken($calendarActiveColor, 5%);
        }

        &.day-in-range {
            background-color: $calendarInRangeColor;
            border: 1px solid darken($calendarInRangeColor, 20%);
        }
    }

    &__invisible-day {
        
    }

    &__inactive-day {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        border: 1px solid rgba(0,0,0,0);
        background-color: rgba(0,0,0,0);
        font-size: 10px;
        cursor: pointer;
        text-align: center;
        line-height: $calendarCellDimension;
        cursor: not-allowed;
        opacity: 0.6;
    }

}