html,
body {
  -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
             -moz-box-sizing: inherit;
          box-sizing: inherit;
}

.date-pickers-container {
  position: relative;
  border: 1px solid #ccc;
}

.date-pickers-container .date-input-field-container {
  display: inline-block;
  width: 48%;
}

.date-pickers-container .date-input-field-container .date-input {
  padding: 5px;
  text-align: center;
}

.date-pickers-container .date-input-field-container .date-input.current-date-input {
  background-color: #f90;
}

.date-pickers-container:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  content: '>';
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.datepicker-underlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.calendar-label {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.calendar-container {
  height: 270px;
  overflow: hidden;
  position: absolute;
  background-color: #dedede;
}

.calendar-container.open-up {
  bottom: 2rem;
}

.calendar-container.open-right {
  right: 0;
}

.calendar-container .calendar-nav-btn {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 15px;
}

.calendar-container .calendar-nav-btn:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 14px;
}

.calendar-container .calendar-nav-btn.prev {
  left: 15px;
}

.calendar-container .calendar-nav-btn.prev:after {
  content: '<';
}

.calendar-container .calendar-nav-btn.next {
  right: 15px;
}

.calendar-container .calendar-nav-btn.next:after {
  content: '>';
}

.calendar-months-container {
  width: 4200px;
  height: 240px;
}

.calendar-month {
  width: 210px;
  height: 240px;
  margin: 10px;
  display: inline-block;
  background-color: #ebebeb;
}

.calendar-month--invisible {
  display: none;
}

.calendar-month__header {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding: 4px;
  background-color: #787878;
}

.calendar-month__days-header {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  background-color: #929191;
}

.calendar-month__weekday {
  position: relative;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
}

.calendar-day {
  position: relative;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.calendar-day__active-day {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid #ababab;
  background-color: #c5c4c4;
  font-size: 10px;
  cursor: pointer;
  outline: none;
}

.calendar-day__active-day.day-selected {
  background-color: #f90;
  border: 1px solid #e68a00;
}

.calendar-day__active-day.day-in-range {
  background-color: #ffc266;
  border: 1px solid #ff9900;
}

.calendar-day__inactive-day {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  cursor: not-allowed;
  opacity: 0.6;
}

