.calendar-label {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.calendar-month {
  width: 210px;
  height: 210px;
  margin: 10px;
  display: inline-block;
  background-color: #fcfcfc;
}

.calendar-month--invisible {
  display: none;
}

.calendar-month__header {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding: 4px;
  background-color: #ccc;
}

.calendar-day {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 10px;
  cursor: pointer;
}

.calendar-day--inactive {
  border: 1px solid #eee;
  background-color: #fff;
  color: #777;
  cursor: not-allowed;
}

.calendar-day--invisible {
  opacity: 0;
}

.calendar-day.invisible {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: default;
}

